@font-face {
    font-weight: 400;
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
  
@font-face {
font-weight: 700;
font-family: "Poppins-Bold";
src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

.body{
    padding-left: 5vw;
    padding-right: 5vw;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    width: 251px;
    height: 72px;
    top: 45px;
    left: 78px;
    color: #0E0578;
    display: inline-block;
}

.nav{

}

.nav ul{
    list-style-type: none;
}

.nav li{
    display: inline-block;
    padding-left:1em;
    padding-right: 1em;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0em;
    color: #0E0578;


}