:root {
    --width:1440px;
}

@font-face {
    font-weight: 400;
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
  
@font-face {
font-weight: 700;
font-family: "Poppins-Bold";
src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

.body{
    width: var(--width);
    padding: 2vw 5vw;
    margin:0;
    font-family: "Poppins-Regular", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: calc(0.15*var(--width));
}

.logo {
    display: flex;
    align-items: flex-end;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #0E0578;
}

.nav{

}

.nav ul{
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

.nav li{
    display: flex;
    align-items:flex-end;
    padding-left:1em;
    padding-right: 1em;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0em;
    color: #0E0578;

}

.home {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(var(--width)*0.7);
}

.home-text {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    padding: 0 3em 0 0;
}

.header1 {
    font-family: Poppins-Regular;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0em;
    color: #2000E7;
    margin:0;
}

.header2 {
    font-family: Poppins-Bold;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0em;
    color: #2000E7;
    margin:0;
}

.yellow {
    color: #F2BD00;
}

.main-text{
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0em;


}

.buttons-container{
    display: flex;
    justify-content:left;
    padding-top:5em;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 72px;
    border-radius: 10px;
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0em;
    box-shadow: 11px 21px 15px 6px #00000040;
    margin-right: 4em;
    border: 2px solid #2000E7
}

.blue-button{
    background: #2000E7;
    color: white;
}

.white-button{
    color: #2000E7;

}